@media screen and (max-width:620px){
    header .container{
        display:flex;
        flex-direction: column;
        width: 100%; /* largura do box */
       
    }

    .botao{
        margin-top: 5px;
        width: 300px;
    }
}

@media screen and (min-width:1000px){
    .descricao{
        width: 50%;
    }
}

@media screen and (max-width:1000px){
    .box1, .box2, .box3, .box4{
        width:40%;
    }
}

@media screen and (max-width:620px){
    .header{
        width: 100%;

    }
    .box1, .box2, .box3, .box4{
        width:80%;
    }
}

@media screen and (max-width:620px){
    .card1 p:nth-child(3),
    .card2 p:nth-child(3),
    .card3 p:nth-child(3),
    .card4 p:nth-child(3){
        width: auto;
       
    }
}

@media screen and (max-width:620px){
    .card2 p:nth-child(3),
    .card2 p:nth-child(6){
        width: auto;
        font-size: 15px;
    }
}

@media screen and (max-width:620px){
    h1::after,h1::before{
    content: " ";
    position:absolute;
    width:50%;
    height:3px;
    background-color:currentColor;
    top: 0.9em;
    }
}

@media screen and (max-width:620px){
h1::before{
    left:110%;
    }
}

@media screen and (max-width:620px){
h1::after{
    right:110%;
    }
}

@media screen and (max-width:620px){
    .lines-effect{
        width:30%;
        }
    }


   


@media screen and (max-width:620px){
    .figure{
        width:30%;
        display: block;
        margin: 0 15px 15px 5px;
        padding:3px;
        height: 40%;

    }
}

@media screen and (max-width:620px){
    .Galeria {
        height:100%;
        width:300%;
        margin:2px;
        border:5px solid #fff;
        box-shadow: 0px,0px,8px px rgba(0,0,0,.3);
    }
}



@media screen and (max-width:620px){
    nav a{
        padding: 0px;
        margin:0px;
        text-align: center;
        margin-left: 30%;
        font-size: 8px;
    }
}

@media screen and (max-width:620px) {
    .primeiro{
        font-size: 15px;
        padding: 0px;
        margin:5px;
    }
}

@media screen and (max-width:620px) {
    p{
        font-size: 10px;
        padding: 3px;
        margin:5px;
        width: 90%;
    }
}

@media screen and (max-width:620px) {
    h2{
        font-size: 12px;
        padding: 3px;
        margin: 5px
    }
}

@media screen and (max-width:620px) {
    h3{
        font-size: 11px;
        padding: 3px;
        margin: 5px
    }
}

@media screen and (max-width:620px) {
    h4{
        font-size: 8px;
    }
}

@media screen and (max-width:620px) {
    .beleza img{
        width:45%;
        margin:2px;
    }
}

@media screen and (max-width:620px) {
    h1{
        font-size: 25px;
    }
}


@media screen and (max-width:1068px){
    .blog-post{
        max-width: 80rem;
    }

    .blog-post_img{
        width: 20%;
        height: auto;
        margin:10px;
        border-radius: 5px;
    }
}

@media screen and (max-width:868px){
    .blog-post{
        max-width: 70rem;
    }
}

@media screen and (max-width:768px){
    .blog-post{
        padding:2.5rem;
        flex-direction: column;
    }

    .blog-post_img {
        padding-top: 50px;
        min-width: 100%;
        max-width: 100%;
        transform: translate(0, -8rem);
    }

}


@media screen and (max-width:620px){
    .sobre-nos{
        font-size: 36px;
        text-align: center;
        text-decoration: none;
        text-align: justify;
    }

    .titulo-footer{
        font-size: 20px;
    }

    .subtitulo-footer{
        font-size: 12px;
    }

    .containerPrincipal{
        height: 300px;
    }
}

@media screen and (max-width:620px){
    .pesquisa{
        margin-right: auto;
        max-width: 100%;
        min-width: 100%;
        max-height: 50%;
        min-height: 7%;
        margin-top: 5px;
    }

    .cool-link{
        font-size:9px;
    }

    .blog-post{
        margin-top: 30%;
        max-width: 70%;
        min-width: 70%;
        margin-right: 17%;
    }

    .blog-post_date span2{
        margin-top: auto;
        
    }
}